{% extends "base.html" %}
{% load static %}

{% block page_title %}
  {% if todo.pk %}
    Editar tarefa
  {% else %}
    Nova tarefa
  {% endif %}
{% endblock page_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/new_task.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1>{% if todo.pk %}Editar tarefa{% else %}Nova tarefa{% endif %}</h1>
  
  <form method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="title">Título</label>
          <input type="text" name="title" id="title" required placeholder="Insira o título da tarefa">
      </div>
      <div class="form-group">
          <label for="deadline">Data de Entrega</label>
          <input type="date" name="deadline" id="deadline" required>
      </div>
      <div class="form-group">
          <label for="priority">Prioridade</label>
          <select name="priority" id="priority" required>
              <option value="">Selecione uma prioridade</option>
              <option value="low">Baixa</option>
              <option value="medium">Média</option>
              <option value="high">Alta</option>
          </select>
      </div>
      <button type="submit" class="btn-confirmar">Enviar</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const today = new Date();
    const formattedDate = today.toISOString().split('T')[0]; // Formata a data para YYYY-MM-DD
    document.getElementById('deadline').value = formattedDate; // Define o valor do campo de data
  });
</script>
{% endblock %}