<!doctype html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Título dinâmico da página -->
    <title>{% block page_title %}{% endblock page_title %}</title>
    
    <!-- Inclusão do arquivo CSS base -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <!-- Bloco para CSS adicional específico de cada página -->
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <!-- Título do Navbar dinâmico -->
            <a class="navbar-brand" href="{% url 'home' %}">{% block navbar_title %}Lista de Tarefas{% endblock %}</a>
            
            <!-- Bloco para a parte direita do navbar -->
            <div class="navbar-right">
                {% block navbar_right %}{% endblock navbar_right %}
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock content %}
    </main>

    <!-- Bloco para scripts adicionais -->
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
